/*
CONVENCION DE ESTILOS: 
1. Posicionamiento
2. Modelo de caja (Box Model)
3. Tipografía
4. Visuales
5. Otros
*/

:root{
    /*Colores*/
    --bitcoin-orange:#F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --blue: #0C8AFF;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    display: flex;
    gap: 40px;
    height: 330px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
header img{
    padding-top: 30px;
}
header h1{
    text-align: center;
    color: var(--just-white);
    font-size: 24px;
    font-family: "DM Sans";
    font-weight: 700;
    line-height: 26px;
}

header p{
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
        color: var(--off-white);

}

.header--tittle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.header--button{
    display: flex;
    position: absolute;
    top: 270px;
    margin-top: 35px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 230px;
    height: 50px;
    text-decoration: none;
    background-color: #FAF8F7;
    box-shadow: 0px 4px 8px 0px #59491E29;

}

.header--button a{
    text-decoration: none;
    color: var(--warm-black);

    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

/*Section 1*/

.tasas{
    height: 910px;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.tasas--bitcoin-img{
    width: 195px;
    height: 195px;
    background-image: url('./assets/img/Bitcoin.svg');
    margin-top: 70px;

}

.tasas h2{

    padding-left: 20px;
    padding-right: 20px;

    /*tipografia*/
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}

.tasas p{

    /*tipografia*/
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;

}

.tasas h3 {

    /*tipografia*/
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--bitcoin-orange);

}

.tasas--flex-corredoras{
    display: flex;
    width: 100%;
    height: 250px;
    flex-direction: row;
}

.derecha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background-color: transparent;
    margin-right: 0px;
}

.derecha span{
    display: inline-block;
    height: 12px;
    width: 9px;
    background-image: url('./assets/icons/right-arrow.svg');
}

.flex-corredoras--tabla{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    width: 60%;
    background-color: antiquewhite;
    border: 1px solid #7575753a;

}

.grid-item{
    display: flex;
    background-color: var(--just-white);
    border: 1px solid #7575753a;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.grid-item p{
    height: 19px;
    width: 77px;
    left: 12px;
    top: 10px;
    text-align: center;

}

.grid-item--price span{
    display: inline-block;
    margin-left: 10px;
    width: 17px;
    height: 17px;
    background-image: url('./assets/icons/trending-up.svg');
}


.izquierda{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(-1);
    width: 20%;
    
}

.izquierda span{
    display: inline-block;
    background-image: url('./assets/icons/right-arrow.svg');
    height: 12px;
    width: 9px;

}
.tasas--grid-corredoras{
    display: grid;
    height: 250px;
    width: 100%;
    background-color: #0C8AFF;
    grid-template-columns: repeat(4, 1fr);
}

.grid-corredoras--data{
    display: grid;
    width: 50%;
    height: 100%;
    background-color: #F7931A;
}