/*
CONVENCION DE ESTILOS: 
1. Posicionamiento
2. Modelo de caja (Box Model)
3. Tipografía
4. Visuales
5. Otros
*/

:root{
    /*Colores*/
    --bitcoin-orange:#F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --blue: #0C8AFF;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--off-white);
}

header{
    display: flex;
    gap: 40px;
    height: 330px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
header img{
    padding-top: 30px;
}
header h1{
    text-align: center;
    color: var(--just-white);
    font-size: 24px;
    font-family: "DM Sans";
    font-weight: 700;
    line-height: 26px;
}

header p{
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
        color: var(--off-white);

}

.header--tittle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.header--button{
    display: flex;
    position: absolute;
    top: 270px;
    margin-top: 35px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 230px;
    height: 50px;
    text-decoration: none;
    background-color: #FAF8F7;
    box-shadow: 0px 4px 8px 0px #59491E29;

}

.header--button a{
    text-decoration: none;
    color: var(--warm-black);

    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

/*Section 1*/

.tasas{
    height: 810px;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.tasas--bitcoin-img{
    width: 195px;
    height: 195px;
    background-image: url('./assets/img/Bitcoin.svg');
    margin-top: 70px;

}

.tasas h2{

    padding-left: 20px;
    padding-right: 20px;

    /*tipografia*/
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}

.parrafo{

    /*tipografia*/
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;
    padding: 0px 5px 0px 5px;

}

.tasas h3 {

    /*tipografia*/
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--bitcoin-orange);

}

.flex-corredoras--tabla{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 250px;
    max-width: 350px;
    min-width: 220px;
    background-color: var(--just-white);
    border-radius: 10px;    
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.062);
}

.grid-item{
    display: flex;
    background-color: var(--just-white);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 3px;
}

.grid-item--moneda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 12px;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: left;


}

.grid-item--price {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #757575;
}

.grid-item--price span{
    display: inline-block;
    margin-left: 10px;
    width: 17px;
    height: 17px;
    background-image: url('./assets/icons/trending-up.svg');
}

.tasas--grid-corredoras{
    display: grid;
    height: 250px;
    width: 100%;
    background-color: #0C8AFF;
    grid-template-columns: repeat(4, 1fr);
}

.grid-corredoras--data{
    display: grid;
    width: 50%;
    height: 100%;
    background-color: #F7931A;
}

.grid-item--moneda{
    color: rgb(199, 198, 198);
}

.batata-tasas{
    position: relative;
    display: inline-block;
    background-image: url(/assets/icons/batata.svg);
    width: 50px;
    height: 34px;
    margin-left: calc(50% - 21px);
    top: -13px;
    
}

/*Section 2*/

.prestaciones{
    height: 970px;
    background-color: var(--warm-black);
}

.prestaciones h2{
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--just-white);
    padding: 80px 0px 20px 0px;
}

.prestaciones--p{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color:#808080;
}

.prestaciones--tarjetas{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    justify-content: center;
}

.tarjetas--grid-item{
    display: flex;
    flex-direction: column;
    height: 152px;
    max-width: 700px;
    background-color: var(--warm-black1);
    box-shadow: 0px 4px 8px 0px #00000029;
    border-radius: 4px;
}

.tarjetas_grid-item--clock{background-image: url(/assets/icons/clock.svg);}

.tarjetas_grid-item--eye{background-image: url(/assets/icons/eye.svg);}

.tarjetas_grid-item--dollar{background-image: url(/assets/icons/dollar-sign.svg);}

.tarjetas_grid-item--tick{background-image: url(/assets/icons/check-circle.svg);} 

.tarjetas--grid-item span{
    width: 24px;
    height: 24px;
    align-self: flex-start;
    margin: 18px 0px 16px 18px;
}

.tarjetas--grid-item h3{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 16px;
    color: var(--just-white);
    margin-bottom: 8px;
}

.tarjetas--grid-item p{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color:#808080;
    margin-left: 16px;
    margin-right: 10px;
}

/**Section 3**/

.bitcoinbaby{
    width: 100%;
    height: 390px;
}

.bitcoinbaby img{
    object-fit: cover;
    width: 100%;
    height: 400px;

}

.bitcoinbaby h3{
    position: absolute;
    top: 2250px;
    left: calc(50% - 140px);
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--just-white);
}


/*Setion 4*/

.intro{
    display: flex;
    height: 200px;
    flex-direction: column;
    background-color: var(--off-white);
    margin-top: 0px;
    gap: 30px;
}

.intro h3{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
}

.intro p{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}

.slides{
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    overscroll-behavior-x:contain ;
    gap: 20px;
    height: 300px;
    width: 100%;
    padding: 0px 30% 0px 30%;
    margin: 0px 0px 50px 0px;
    

}

.slides::-webkit-scrollbar {
    display: none;
}

.plan{
    height: 247px;
    min-width: 190px;
    max-width: 250px;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px 0px #59491E29;
    border-radius: 10px;
    scroll-snap-align: center;
    

}

.plan h4{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}

.price{
    font-family: Inter;
    font-size: 52px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: -0.08em;
    text-align: left;

}
.plan p span{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    
}

.text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;

}

.plan button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 151px;
    height: 48px;
    border: 2px solid var(--bitcoin-orange);
    text-align: center;

}

.plan button span{
    display: inline-block;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    width: 24px;
    height: 24px;

}

.recomendado{
    display: flex;
    position: sticky;
    background-color: var(--bitcoin-orange);
    width: 101px;
    height: 31px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

    color: var(--just-white);
    
}

.arrow{
    position: absolute;
    background-image: url('./assets/icons/right-arrow.svg');
    width: 8px;
    height: 12px;
}

.right{
    right:10% ;
}

.left{
    left: 10%;
    transform: scaleX(-1);
}

/*Footer*/

footer{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bitcoin-orange);
    gap: 30%;
}

.footer--links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer--links a{
    text-decoration: none;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--just-white);

}

.footer--batata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer--batata span{
    background-image: url('./assets/icons/batata.svg');
    height: 34px;
    width: 50px;
}

.footer--batata p{
    color: var(--just-white);
}

